@model GroupDetailsExtendedDto
@using FileSharing.Services.Dtos
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resources> Localizer
@{
    ViewData["Title"] = Model.Name;
    if (Model.IsAdministrable)
    {
        ViewData["Options"] = new[]
        {
            "ExpelUser(),EXPEL_USER",
            "TransferGroup(),TRANSFER_GROUP",
            "DeleteGroup(),DELETE_GROUP"
        };
    }
    else
    {
        ViewData["Options"] = new[]
        {
            "LeaveGroup(),LEAVE_GROUP"
        };
    }
}
<div class="text-center">
    <h2>@Model.Name</h2>
</div>
<div class="group-files">
    <div class="text-center">
        <h3>@Localizer["FILES"]</h3>
    </div>
    @if (Model.Files.Count == 0)
    {
        <div class="text-center">
            <p>@Localizer["NO_GROUP_FILES"]</p>
        </div>
    }
    else
    {
        @foreach (var file in Model.Files)
        {
            <div class="file">
                <a onclick="OpenFileDetails('@file.Id')">
                    <img src="~/images/file.png" />
                    <br />
                    @file.Filename
                </a>
            </div>
        }
    }
</div>
@if (Model.IsAdministrable)
{
    <div class="group-requests">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>@Localizer["REQUESTS"].Value.ToUpper()</th>
                    <th></th>
                </tr>
                <tr>
                    <th>@Localizer["LOGIN"].Value.ToUpper()</th>
                    <th>@Localizer["NAME"].Value.ToUpper()</th>
                    <th>@Localizer["OPTIONS"].Value.ToUpper()</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model.Requests)
                {
                    <tr>
                        <td>@request.Login</td>
                        <td>@request.FirstName @request.LastName</td>
                        <td><a onclick="AcceptRequest('@request.Id')" style="cursor: pointer">@Localizer["ACCEPT"]</a> | <a onclick="DeleteMember('@request.Id')" style="cursor: pointer">@Localizer["REJECT"]</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div style="clear:both"></div>
<script>
    function AcceptRequest(id) {
        $.ajax({
            url: '/Groups/AcceptRequest/',
            type: 'POST',
            data: { idUser: id, idGroup: @Model.Id },
            cache: false,
            success: function () {
                location.reload();
            },
            error: function (message) {
                ShowErrorMessage('', message.responseText);
            }
        });
    }

    function DeleteMember(id) {
        $.ajax({
            url: '/Groups/DeleteMember/',
            type: 'POST',
            data: { idUser: id, idGroup: @Model.Id },
            cache: false,
            success: function () {
                location.reload();
            },
            error: function (message) {
                ShowErrorMessage('', message.responseText);
            }
        });
    }

    function DeleteGroup() {
        swal({
            title: "@Localizer["ASK_SURE"]",
            text: "@Localizer["CANNOT_UNDO"]",
            showCancelButton: true,
            confirmButtonColor: '#935d8c',
            confirmButtonText: "@Localizer["CONTINUE"]",
            cancelButtonText: "@Localizer["CANCEL"]"
        }).then(function () {
            $.ajax({
                url: '/Groups/DeleteGroup/' + @Model.Id,
                type: 'DELETE',
                cache: false,
                success: function () {
                    location.reload();
                },
                error: function (message) {
                    ShowErrorMessage('', message.responseText);
                }
            });
        });
    }

    function LeaveGroup() {
        swal({
            title: "@Localizer["ASK_SURE"]",
            text: "@Localizer["CANNOT_UNDO"]",
            showCancelButton: true,
            confirmButtonColor: '#935d8c',
            confirmButtonText: "@Localizer["CONTINUE"]",
            cancelButtonText: "@Localizer["CANCEL"]"
        }).then(function () {
            $.ajax({
                url: '/Groups/LeaveGroup/' + @Model.Id,
                type: 'DELETE',
                cache: false,
                success: function (url) {
                    window.location.href = url;
                },
                error: function (message) {
                    ShowErrorMessage('', message.responseText);
                }
            });
        });
    }

    function ExpelUser() {
        var members = @Json.Serialize(Model.Members);
        if (members != null && members.length > 0) {
            var html = '<div class="form-group">' +
                '<label for="id-member" class="col-sm-3 control-label" style="color: #222 !important; top: 28px;">@Localizer["MEMBER"]</label>' +
                '<div class="col-sm-9">' +
                '<select id="id-member" class="form-control swal2-select">' +
                '<option value= "0"></option>';
            for (var i in members) {
                html += '<option value= "' + members[i].id + '">' + members[i].login + '</option>';
            }
            html += '</select></div></div>';
            swal({
                title: '@Localizer["SELECT_MEMBER_TO_EXPEL"]',
                html: html,
                showCancelButton: true,
                confirmButtonColor: '#935d8c',
                confirmButtonText: "@Localizer["CONTINUE"]",
                cancelButtonText: "@Localizer["CANCEL"]",
                preConfirm: function () {
                    return new Promise(function (resolve) {
                        resolve($('#id-member').val());
                    });
                }
            }).then(function (result) {
                DeleteMember(result);
            });
        }
        else {
            ShowErrorMessage('', "You are the only member");
        }
    }


    function TransferGroup() {
        var members = @Json.Serialize(Model.Members);
        if (members != null && members.length > 0) {
            var html = '<div class="form-group">' +
                '<label for="id-member" class="col-sm-3 control-label" style="color: #222 !important; top: 28px;">@Localizer["MEMBER"]</label>' +
                '<div class="col-sm-9">' +
                '<select id="id-member" class="form-control swal2-select">' +
                '<option value= "0"></option>';
            for (var i in members) {
                html += '<option value= "' + members[i].id + '">' + members[i].login + '</option>';
            }
            html += '</select></div></div>';
            swal({
                title: '@Localizer["SELECT_MEMBER_TO_TRANSFER"]',
                html: html,
                showCancelButton: true,
                confirmButtonColor: '#935d8c',
                confirmButtonText: "@Localizer["CONTINUE"]",
                cancelButtonText: "@Localizer["CANCEL"]",
                preConfirm: function () {
                    return new Promise(function (resolve) {
                        resolve($('#id-member').val());
                    });
                }
            }).then(function (result) {
                $.ajax({
                    url: '/Groups/UpdateGroup/',
                    type: 'POST',
                    data: { idUser: result, idGroup: @Model.Id, name: '' },
                    cache: false,
                    success: function () {
                        location.reload();
                    },
                    error: function (message) {
                        ShowErrorMessage('', message.responseText);
                    }
                });
            });
        }
        else {
            ShowErrorMessage('', "You are the only member");
        }
    }
</script>