@model List<Group>
@using FileSharingWeb.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resources> Localizer
@{
    ViewData["Title"] = Localizer["GROUPS"];
    ViewData["Options"] = new[] { "CreateGroup(),CREATE_GROUP", "Groups,Search,SEARCH_GROUPS" };
}

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Localizer["NAME"].Value.ToUpper()</th>
                    <th>@Localizer["NUM_MEMBERS"].Value.ToUpper()</th>
                    <th>@Localizer["ADMINISTRABLE"].Value.ToUpper()</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
                {
                    <tr onclick="OpenGroupDetails('@group.Id')">
                        <td>@group.Name</td>
                        <td>@group.NumOfMembers</td>
                        @if (@group.IsAdministrable)
                        {
                            <td>@Localizer["YES"]</td>
                        }
                        else
                        {
                            <td>@Localizer["NO"]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>
    function CreateGroup() {
        swal({
            title: "",
            text: "@Localizer["NEW_GROUP_NAME"]",
            input: 'text',
            showCancelButton: true,
            confirmButtonColor: '#935d8c',
            confirmButtonText: "@Localizer["CONTINUE"]",
            cancelButtonText: "@Localizer["CANCEL"]"
        }).then(function (groupName) {
            $.post("/Groups/CreateGroup", { groupName: groupName },
                function (data) {
                    window.location.href = data;
                });
            });
    }

    function OpenGroupDetails(id) {
        window.location.href = '@Url.Action("Details", "Groups")/' + id;
    }
</script>