@model UserLoginDto
@using FileSharing.Services.Dtos;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resources> Localizer
@{
    ViewData["Title"] = Localizer["LOGIN"];
}
<div class="col-xs-10 col-xs-offset-1">
<!-- Header -->
    <header id="header" class="alt">
		<span class="logo"><img src="~/images/logo.svg" alt="" /></span>
		<h1>FileSharing</h1>
	</header>
<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a class="active">@Localizer["LOGIN"]</a></li>
			<li><a asp-area="" asp-controller="Public" asp-action="Register">@Localizer["REGISTER"]</a></li>
		</ul>
	</nav>
	
<!-- Main -->
	<div id="main">

	<!-- Login -->
		<div id="login" class="tabcontent">
			<div class="spotlight">
				<div class="content">
					<div class="col-xs-12 col-xs-offset-2">
						<form asp-controller="Public" asp-action="Login" method="post" class="form-horizontal">
						    <div class="form-group">
						        <label class="col-xs-3 control-label">@Localizer["USERNAME"]</label>
						        <div class="col-xs-4">
						            <input asp-for="Username" class="form-control" required/>
						            <span asp-validation-for="Username" class="text-danger"></span>
						        </div>
						    </div>
						    <div class="form-group">
						        <label class="col-xs-3 control-label">@Localizer["PASSWORD"]</label>
						        <div class="col-xs-4">
						            <input asp-for="Password"class="form-control" required/>
						            <span asp-validation-for="Password" class="text-danger"></span>
						        </div>
						    </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
						    <div class="form-group">
						        <div class="col-xs-offset-3 col-xs-4">
					                <ul class="actions">
		                                <li><button type="submit" class="btn btn-default">@Localizer["CONTINUE"]</button></li>
					                </ul>
						        </div>
						    </div>
						</form>
					</div>
                </div>
            </div>
        </div>
	</div>
</div>