@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resources> Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileSharing</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top fs-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="~/images/logo.svg"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i> @Localizer["Home"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Account"><i class="fa fa-user" aria-hidden="true"></i> @Localizer["Account"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Groups"><i class="fa fa-users" aria-hidden="true"></i> @Localizer["Groups"]</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> @Localizer["Logout"]</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="nav-side-menu">
        <div class="menu-list">

            <ul id="menu-content" class="menu-content">
                @foreach (var option in (string[])@ViewData["Options"])
                {
                    <li>
                        <a asp-action="@option">@Localizer[option]</a>
                    </li>

                }
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
