@model List<File>
@using FileSharingWeb.ViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resources> Localizer
@{
    ViewData["Title"] = Localizer["HOME"];
    ViewData["Options"] = new[] { "CreateFolder(),CREATE_FOLDER", "Home,UploadFile,UPLOAD_FILE" };
}
<a id="CreateFolderBtn" href="#CreateFolder" rel="modal:open"></a>
<form id="CreateFolder" class="create-modal modal" style="display:none;" asp-controller="Home" asp-action="CreateFolder" method="post">
    <h3>@Localizer["NEW_FOLDER_NAME"]</h3>
    <p><input type="text" name="folderName" required/></p>
    <p style="display:none"><input type="text" name="folderRoot" value="@ViewBag.FolderRootId"/></p>
    <p><button type="submit">@Localizer["CONTINUE"]</button></p>
</form>

<div class="link-to-previous-folder">
    @if (ViewBag.LinkFolder != null)
    {
        var link = ((string)ViewBag.LinkFolder).Split(',');
        if (link.Length == 2)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="@link[0]">@link[1]</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="">@link[0]</a>
        }
    }
</div>
<div class="files">
    @foreach (var folder in Model.Where(x => x.Type == FileType.Folder))
    {
        <div class="folder">
            <a asp-controller="Home" asp-action="Index" asp-route-id="@folder.Id">
                <img src="~/images/folder.png" />
                <br />
                @folder.Name
            </a>
        </div>
    }
</div>


<script>
    function CreateFolder() {
        $("#CreateFolderBtn").click();
    }
</script>