@model FolderDetailsDto
@using FileSharing.Services.Dtos;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resources> Localizer
@{
    ViewData["Title"] = Localizer["HOME"];
    if (Model.Folders == null || Model.Folders.Count == 0)
    {
        ViewData["Options"] = new[]
        {
            "CreateFolder(),CREATE_FOLDER",
            "UploadFile(),UPLOAD_FILE"
        };
    }
    else
    {
        ViewData["Options"] = new[]
        {
            "CreateFolder(),CREATE_FOLDER",
            "UploadFile(),UPLOAD_FILE",
            "DeleteFolder(),DELETE_FOLDER"
        };
    }
}

<div class="link-to-previous-folder">
    @if (ViewBag.LinkFolder != null)
    {
        var link = ((string)ViewBag.LinkFolder).Split(',');
        if (link.Length == 2)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="@link[0]">@link[1]</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="">@link[0]</a>
        }
    }
</div>
<div class="files">
    @foreach (var folder in Model.Folders)
    {
        <div class="file">
            <a asp-controller="Home" asp-action="Index" asp-route-id="@folder.Id">
                <img src="~/images/folder.png" />
                <br />
                @folder.Name
            </a>
        </div>
    }
    @foreach (var file in Model.Files)
    {
        <div class="file">
            <a onclick="OpenFileDetails('@file.Id')">
                <img src="~/images/file.png" />
                <br />
                @file.Filename
            </a>
        </div>
    }
</div>


<script>
    function CreateFolder() {
        swal({
            title: "",
            text: "@Localizer["NEW_FOLDER_NAME"]",
            input: 'text',
            showCancelButton: true,
            confirmButtonColor: '#935d8c',
            confirmButtonText: "@Localizer["CONTINUE"]",
            cancelButtonText: "@Localizer["CANCEL"]"
        }).then(function (folderName) {
            $.ajax({
                url: '/Home/CreateFolder',
                type: 'POST',
                data: { folderName: folderName, folderRoot: '@ViewBag.FolderId' },
                success: function (result) {
                    window.location.href = result;
                }
            });
        });
    }

    function UploadFile() {
        swal({
            title: '@Localizer["SELECT_FILE"]',
            input: 'file',
            showCancelButton: true,
            confirmButtonColor: '#935d8c',
            confirmButtonText: "@Localizer["CONTINUE"]",
            cancelButtonText: "@Localizer["CANCEL"]"
        }).then(function (file) {
            var formData = new FormData();
            formData.append("FileUpload", file);
            formData.append("FolderRoot", '@ViewBag.FolderId');

            $.ajax({
                url: '/Home/UploadFile/@ViewBag.FolderId',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    window.location.href = result;
                }
            });
        });
    }

    function DeleteFolder() {
        swal({
            title: "@Localizer["ASK_SURE"]",
            text: "@Localizer["DELETE_FOLDER_INFORMATION"]",
            input: 'select',
            inputOptions: {
                '0': '',
                @foreach (var folder in Model.Folders)
                {
                    @:'@folder.Id': '@folder.Name',
                }
            },
            inputPlaceholder: '',
            inputValidator: function (value) {
                return new Promise(function (resolve, reject) {
                    if (value !== '0') {
                        resolve();
                    } else {
                        reject('@Localizer["FOLDER_MUST_BE_SELECTED"]');
                    }
                });
            },
            showCancelButton: true,
            confirmButtonColor: '#935d8c',
            confirmButtonText: "@Localizer["CONTINUE"]",
            cancelButtonText: "@Localizer["CANCEL"]"
        }).then(function (result) {
            $.ajax({
                url: '/Home/DeleteFolder',
                type: 'DELETE',
                data: { folder: result },
                success: function (result) {
                    window.location.href = result;
                }
            });
        });
    }
</script>