@model List<File>
@using FileSharingWeb.ViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Resources> Localizer
@{
    ViewData["Title"] = Localizer["HOME"];
    ViewData["Options"] = new[] { "CreateFolder(),CREATE_FOLDER", "Home,UploadFile,UPLOAD_FILE" };
}

<div class="link-to-previous-folder">
    @if (ViewBag.LinkFolder != null)
    {
        var link = ((string)ViewBag.LinkFolder).Split(',');
        if (link.Length == 2)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="@link[0]">@link[1]</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-id="">@link[0]</a>
        }
    }
</div>
<div class="files">
    @foreach (var folder in Model.Where(x => x.Type == FileType.Folder))
    {
        <div class="folder">
            <a asp-controller="Home" asp-action="Index" asp-route-id="@folder.Id">
                <img src="~/images/folder.png" />
                <br />
                @folder.Name
            </a>
        </div>
    }
</div>


<script>
    function CreateFolder() {
        swal({
            title: "@Localizer["NEW_FOLDER_NAME"]",
            text: "",
            input: 'text',
            showCancelButton: true,
            confirmButtonColor: '#935d8c',
            confirmButtonText: "@Localizer["CONTINUE"]",
            cancelButtonText: "@Localizer["CANCEL"]"
        }).then(function (folderName) {
            $.post("/Home/CreateFolder", { folderName: folderName, folderRoot: '@ViewBag.FolderRootId' },
                function (data) {
                    window.location.href = data;
                });
            });
    }
</script>